<h1>API express</h1>

<p>Sign In</p>
<form action="/login" class="login" id="login" method="post">
  <label for="username">username</label>:
  <input id="username" name="username" type="text" /><br />

  <label for="password">password</label>:
  <input id="password" name="password" type="text" /><br />

  <input name="submit" type="submit" value="Sign in" />
</form>

<p>Sign Up</p>
<form action="/users" class="create_user" id="create_user" method="post">
  <label for="username">username</label>:
  <input id="username" name="username" type="text" /><br />

  <label for="password">password</label>:
  <input id="password" name="password" type="text" /><br />

  <input name="submit" type="submit" value="Sign up" />
</form>